.block_group {
    padding: 10px;
}

table {
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 16px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}

table th {
    border: 1px solid #dddddd;
    padding: 5px;
}

table td {
    border: 1px solid #dddddd;
    padding: 5px;
    font-size: 14px;
}

table td:nth-child(2) {
    width: 25%;
    min-width: 120px;
}

table td:nth-child(n+3) {
    text-align: center;
}


